.button-inf {
  background: transparent;
  border: 3px solid $basic_light_trans;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: block;
  height: 39px;
  line-height: 32px;
  width: 90px;
  /*Text Styles*/
  color: $basic_light_trans;
  text-align: center;
  font-size: 20px;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: $basic_light;
    border-color: $basic_light;
    text-decoration: none;
  }
}

.button-inf.active {
  color: $basic_light;
  border-color: $basic_light;
}

.btn-social {
  font-size: 25px;
  color: #c8c8c8;
  padding-right: 15px;

  &--twitter {
    &:active,
    &:focus,
    &:hover {
      color: $twitter;
    }
  }

  &--fb {
    &:active,
    &:focus,
    &:hover {
      color: $facebook;
    }
  }

  &--behance {
    &:active,
    &:focus,
    &:hover {
      color: $behance;
    }
  }

  &--dribbble {
    &:active,
    &:focus,
    &:hover {
      color: $dribbble;
    }
  }

  &--google {
    &:active,
    &:focus,
    &:hover {
      color: $google;
    }
  }

  &--forrst {
    &:active,
    &:focus,
    &:hover {
      color: $forrst;
    }
  }
}
@media (min-width: 768px) {
  .button-inf {
    width: 130px;
  }
}
