// Colors
$basic_light: #FFF;
$basic_dark: #727272;
$basic_light_trans: rgba(255, 255, 255, .6);
$dark_blue: #005e89;
$light_blue: #0f94d1;
$border_blue: #73d3ff;
$text_slider: #d5d5d5;
$text_footer: #646464;
$text_blurb: #999999;
$background_bright: #fafafa;
$link_bright: #1094d1;
$google: #e75c3c;
$forrst: #73ba5d;
$facebook: #6788ce;
$behance: #5383e9;
$dribbble: #f85993;
$twitter: #29c5f6;
