// Colors
$basic_light:  #FFF;
$basic_dark:  #727272;
$accent: #005e89;

$basic_light_trans:  rgba(255, 255, 255, .6);
$light_blue: #73d3ff;

$google: #e75c3c;
$forrst: #73ba5d;
$facebook: #6788ce;
$behance: #5383e9;
$dribbble: #f85993;
$twitter: #29c5f6;
